/* common */
* {
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 1.2rem;
    margin: .5em auto;
    background: #777;
    padding: .5em;
    color: white;
}

.header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    text-align: center;
    margin: .3em auto;
}

.content {
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    box-sizing: border-box;
}

/* navigation */
nav {
    max-width: 50em;
    margin: 0 auto;    
}

nav ul {
    width: 100%;
    font-size: 1em;
    display: flex;
}


nav ul a {
    flex-grow: 1;
    flex-basis: 0;
    color: black;
    text-decoration: none;
}

nav ul a li {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: .5em;
    padding: .5em;
    border-bottom: 1px solid #aaa;
}

nav ul li.active{
    font-weight: bold;
    border-bottom: 3px solid #aaa;
}

nav ul li:hover {
    background: rgba(0,0,0,.5)
}


/* home page */
.jumbotron {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr min-content;
    grid-gap: 2em;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.jumbotron img{
    height: 18em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .5em;
    transform: rotate(-5deg);
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0 auto;
}

.jumbotron .blurb {
    align-items: center;
    display: flex;
}

.jumbotron p{
    border-radius: 50%;
    text-align: center;
    font-size: 1.5em;
}

.jumbotron .social-links {
    display: flex;
    width: 100%;
}

.jumbotron li {
    flex-grow: 1;
    flex-basis: 0;
}

.jumbotron li a {
    color: black;
}

@media(max-width: 600px) {
    .jumbotron {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto min-content auto;
        grid-gap: .5em;
    }
    
    .jumbotron img{
        grid-row-start: 2;
        margin: 1em auto;
    }
}

.about p{
    margin-bottom: .75em;
}

/* resume */
.resume-container .section p{
    margin-bottom: .75em;
}

.resume-container .section__sub-title {
    margin-bottom: .5em;
}

.resume-container .section ul {
    margin-left: 1em;
    margin-bottom: 1em;
    list-style: square;
}

.resume-container .section ul li {
    margin-bottom: .2em;
}

.resume-container .section ul li ul {
    list-style: circle;
}

.resume-container .section-achivements .section-info {
    border: none;
}

.resume-container .section-info {
    display: flex;
    border-bottom: 1px solid #888;
    padding-bottom: 1em;
    margin-bottom: .5em;
}

.resume-container .section-info__time {
    display: flex;
    width: 12em;
    margin: .5em 0;
}

.resume-container .section-info__desc {
    flex: 1;
}

.resume-container .section-info__desc__title {
    display: flex;
    color: #ac6100;
    margin: .5em 0;
}

.resume-container .section-info__desc__title .company {
    display: flex;
    flex: 1;
}

.resume-container .section-info__desc__title .designation {
    justify-content: flex-end;
    font-weight: 200;
}

.resume-container .section-info__desc__content p {
    margin: 0;
}

.resume-container .section-info__desc__content ul {
    list-style: square;
    margin-left: 2em;
    margin-bottom: .8em;
}

@media(max-width: 600px) {
    .resume-container .section-info{
        flex-direction: column;
    }
}

/* contact page */
.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.contact-form__input label {
    font-weight: bold;
    margin-bottom: .5em;
    margin-top: 1em;
}

.contact-form__input input {
    font-size: 1em;
    padding: .3em;
}

.contact-form__input textarea {
    font-size: 1.2em;
    padding: .3em;
    height: 5em;
}

.contact-form button {
    background: #eee;
    border: 1px dotted #aaa;
    padding: .3em;
    font-size: 1em;
}

.contact-form button:hover {
    background: #ddd;
    cursor: pointer;
}

/* blog page */
.blog-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 2em;
}

.blog-container .blog-item{
    min-width: 0;
}
.blog-container .blog-item img {
    width: 100%;;
}
.blog-container .blog-item .date{
    color: #444;
    font-size: .85em;
    padding-left: .5em;
}
.blog-container .blog-item h2{
    background: #eee;
    color: #000;
}
.blog-container .blog-item .summary{
    margin: auto .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.blog-container .blog-item .summary p{
    height: 7em;
}

@media(max-width: 600px) {
    .blog-container {
        grid-template-columns: 1fr;
    }
}

/* project page */
.project-item {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: min-content 1fr;
}

.project-item h2{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.project-item img{
    width: 20em;
    padding: .4em;
    border: 1px solid gray;
}

@media(max-width: 600px) {
    .project-item {
        display: block;
    }
}