/* reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Crimson+Text') only print;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* common */
* {
    font-family: 'Niramit', sans-serif;
}

h1{
    font-size: 1.2rem;
    margin: .5em auto;
    padding: .5em;
}

h2{
    font-size: 1.25rem;
    margin: 2em auto .8em;
    /* background: #777; */
    padding: .3rem 0;
    color: #0A558C;
    border-bottom: 2px solid;
}

h3{
    font-size: 1rem;
    margin: .5em auto;
    background: #999;
    padding: .5em;
    color: white;
}

.header h1{
    font-size: 2em;
    text-align: center;
    margin: .3em auto;
    margin-top: 0;
    color: #D9E2EC;
    background: #003E6B;
}

.header h1 a {
    font-family: 'Bitter', serif;
    color: #F0F4F8;
}

.content {
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    box-sizing: border-box;
}

/* navigation */
nav {
    max-width: 50em;
    margin: 0 auto;
}

nav ul {
    width: 100%;
    font-size: 1em;
    display: flex;
}

nav ul li {
    flex-grow: 1;
    flex-basis: 0;
    margin: .5em;
    text-align: center;
}

nav ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: .5em 0;    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    color: #102A43;
    text-decoration: none;
}

nav ul li.active{
    font-weight: bold;
    background: #FFF3C4;
}

nav ul li:hover {
    background: #FCE588;
    transition: .3s;
    transform: opacity(.1);
}


/* home page */
.jumbotron {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr min-content;
    grid-gap: 2em;
    text-align: center;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}

.jumbotron img.profile-img{
    height: 18em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .5em;
    transform: rotate(-5deg);
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0 auto;
}

.jumbotron .blurb {
    align-items: center;
    display: flex;
}

.jumbotron p{
    border-radius: 50%;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
}

.jumbotron .social-links {
    display: flex;
    width: 100%;
}

.jumbotron .social-links .social-logo{
    width: 2em;
    margin-right: .4em;
}

.jumbotron .social-links a:hover{
    transform: scale(1.2);
    transition: .3s;
}

.jumbotron li {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.jumbotron li a {
    color: black;
    display: flex;
    height: 2em;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
}

@media(max-width: 600px) {
    .jumbotron {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto min-content auto;
        grid-gap: .75em;
    }

    .jumbotron img{
        grid-row-start: 2;
        margin: 1em auto;
    }
}

.about p{
    margin-bottom: .75em;
}

/* resume */
.resume-container .resume-header {
    display: flex;
}

.resume-container .resume-header  img{
    width: 7.5em;
    margin-top: 1em;
    border-radius: 2px;
    border: 4px solid #ddd;
}

.resume-container .resume-header  h1{
    color: #003E6B;
    padding: 0;
    margin-bottom: .2em;
    font-size: 2em;
}

.resume-container .resume-header  h3{
    color: #0A558C;
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: .75em;
}

.resume-container .resume-header .information {
    flex: 1;
}

.resume-container .resume-header .information .header-title{
    display: flex;
}

.resume-container .resume-header .information .header-title h1{
    margin-bottom: .5em;
}

.resume-container .resume-header .information .header-items{
    width: 50%;
    float: left;
}

.resume-container .resume-header .information .header-title h3{
    flex: 1;
    line-height: 32px;
    margin: .75em auto;
    align-self: end;
}

.resume-container .resume-header .info-item{
    margin-bottom: .25em;
}

.resume-container .resume-header .info-item strong{
    display: block;
    float: left;
    width: 70px;
}

.resume-container .section p{
    margin-bottom: .75em;
}

.resume-container .section__sub-title {
    margin-bottom: .5em;
}

.resume-container .section ul {
    margin-left: 2em;
    margin-bottom: 1em;
    list-style: square;
}

.resume-container .section ul li {
    margin-bottom: .2em;
}

.resume-container .section ul li ul {
    list-style: circle;
}

.resume-container h3 {
    color: black;
    background: none;
    margin: 0;
    padding: 0;
}

.resume-container .section-info {
    display: flex;
    border-bottom: 1px solid #888;
    padding-bottom: 1em;
    margin-bottom: .5em;
}

.resume-container .section-info__time {
    display: flex;
    width: 12em;
    margin: .5em 0;
    font-weight: bold;
}

.resume-container .section-info__desc {
    flex: 1;
}

.resume-container .section-info__desc__title {
    display: flex;
    margin: .5em 0;
}

.resume-container .section-info__desc__title h3{
    color: #186FAF;
}

.resume-container .section-info__desc__title .company {
    display: flex;
    flex: 1;
}

.resume-container .section-info__desc__title .designation {
    justify-content: flex-end;
    font-weight: 200;
}

.resume-container .section-info__desc__content ul {
    list-style: square;
    margin-left: 2em;
    margin-bottom: .8em;
}

@media(max-width: 400px) {
    .resume-container .section-info{
        flex-direction: column;
    }
}

/* contact page */
.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.contact-form__input label {
    font-weight: bold;
    margin-bottom: .5em;
    margin-top: 1em;
}

.contact-form__input input {
    font-size: 1em;
    padding: .3em;
}

.contact-form__input textarea {
    font-size: 1.2em;
    padding: .3em;
    height: 5em;
}

.contact-form button {
    background: #DE911D;
    border: 1px solid #CB6E17;
    padding: .3em;
    font-size: 1em;
    font-weight: bold;
}

.contact-form button:hover {
    background: #CB6E17;
    cursor: pointer;
}

/* blog page */
.blog-container {
    width: 100%;
    display: grid;
    grid-gap: 1em;
    margin-bottom: 2em;
}

.blog-container .blog-item{
    min-width: 0;
    display: flex;
    flex-direction: column;
    margin: .5em;
    padding: 1em;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, .1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.blog-container .blog-item img {
    align-items: center;
    align-self: center;
    max-width: 100%;
}
.blog-container .blog-item .date{
    display: none;
    color: #444;
    font-size: .85em;
    margin-bottom: 1em;
}
.blog-container .blog-item h2{
    width: auto;
    background: none;
    margin: 1rem 0;
    padding: 0;
}
.blog-container .blog-item .summary{
    overflow: hidden;
}

.blog-container .blog-item .summary p{
    max-height: 7em;
    margin: 1.2rem 0 .5rem;
}

/* project page */
.project-item {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: min-content 1fr;
}

.project-item h2{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.project-item img{
    width: 20em;
    padding: .4em;
    border: 1px solid gray;
}

.blog-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blog-header h1 {
    font-size: 1.75em;
    width: 100%;
    margin-bottom: .2em;
}

.blog-header img {
    align-self: center;
}

.blog-header .date {
    font-style: oblique;
}

.blog-content {
    margin-bottom: 2em;
}

.blog-content p {
    padding: .5em;
}

.blog-content img {
    max-width: 100%;
}

.blog-content ul{
    list-style: disc;
    padding: 0 2em;
}

.readings-content {
    grid-column-start: 1;
    grid-column-end: 3;
    list-style: disc;
}

@media(max-width: 600px) {
    .blog-container {
        grid-template-columns: 1fr;
    }

    .jumbotron .blurb {
        margin: .75em 0;
    }

    .project-item {
        display: block;
    }

    nav ul li a {
        font-size: 1em;
    }
}

@media print {
    * {
        font-family: 'Crimson Text', serif;
    }

    .header {
        display: none;
    }

    .resume-container .section-info {
        border-bottom: none;
        margin-bottom: 0;
    }
}