:root {
  --background-color: #eee;
  --border-color: #dfe3f8;
  --background-hover-color: #f8f9ff;
  --text-color: #000;
  --header-gradient: linear-gradient(
    180deg,
    rgba(221, 239, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  )
}

.dark-theme {
  --background-color: #eee;
  --border-color: #dfe3f8;
  --background-hover-color: #f8f9ff;
  --text-color: #000;
}

.hero-background {
  background: var(--header-gradient);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid var(--border-color);
}

.hero-container h1 {
  font-size: 2.5rem;
}

.hero-container .logo-item {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-right: 10px;
  height: 30px;
}

.hero-container__profile-photo {
  border-radius: 50%;
  width: 280px;
  transition: 200ms;
}

.hero-container__inner {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-items {
  display: flex;
  list-style: none;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.logo-items a {
  margin-right: 5px;
  line-height: 0;
}

.section-title {
  display: flex;
  margin-top: 50px;
  align-items: baseline;
}

.section-title-header {
  margin: 0;
  font-weight: 400;
  margin-right: 10px;
}

.section-title a {
  font-weight: 300;
}

.blog-post-container {
  border-bottom: 1px solid var(--border-color);
}

.blog-post-container__inner {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.blog-post-preview {
  min-width: 252px;
  flex-basis: 452px;
  padding: 40px;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--text-color);
  transition: 200ms;
  will-change: transform;
}
.blog-post-preview:hover {
  background-color: var(--background-hover-color);
  transform: scale(1.05);
}

.blog-post-preview:nth-child(odd) {
  margin-right: 20px;
}

.project-preview {
  display: flex;
  margin: 50px 0;
}

.blog-post-preview__excerpt {
  padding: 0;
  margin: 0;
}

.project-preview__image {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  min-width: 350px;
  height: 250px;
}

@media only screen and (max-width: 700px) {
  .hero-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .project-preview {
    flex-direction: column-reverse;
  }

  .project-preview__image {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    max-width: 80vw;
  }

  .blog-post-preview:nth-child(odd) {
    margin-right: 0;
  }
}
