/* resume */
.resume-container .resume-header {
  display: flex;
}

.resume-container .resume-header img {
  width: 7.5em;
  margin-top: 1em;
  border-radius: 2px;
  border: 4px solid #ddd;
}

.resume-container .resume-header h1 {
  color: #003e6b;
  padding: 0;
  margin-bottom: 0.2em;
  font-size: 2em;
}

.resume-container .resume-header h3 {
  color: #0a558c;
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 0.75em;
}

.resume-container .resume-header .information {
  flex: 1;
}

.resume-container .resume-header .information .header-title {
  display: flex;
  align-items: flex-end;
  margin: 2em 0;
}

.resume-container .resume-header .information .header-items {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
}

.resume-container .resume-header .information .header-title h1 {
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  line-height: 1.1;
}

.resume-container .resume-header .information .header-title h3 {
  flex: 1;
  margin: 0;
  padding: 0;
}

.resume-container .resume-header .info-item {
  margin-bottom: 0.25em;
}

.resume-container .resume-header .info-item strong {
  display: block;
  float: left;
  min-width: 50px;
  padding-right: 20px;
}

.resume-container .section p {
  margin-bottom: 0.75em;
}

.resume-container .section__sub-title {
  margin-bottom: 0.5em;
}

.resume-container .section ul {
  margin-left: 2em;
  margin-bottom: 1em;
  list-style: square;
}

.resume-container .section ul li {
  margin-bottom: 0.2em;
}

.resume-container .section ul li ul {
  list-style: circle;
}

.resume-container h3 {
  color: black;
  background: none;
  margin: 0;
  padding: 0;
}

.resume-container .section-info {
  display: flex;
  border-bottom: 1px solid #888;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
}

.resume-container .section-info--no-underline {
  border-bottom: none;
  padding-bottom: 0;
}

.resume-container .section-info__time {
  display: flex;
  width: 6em;
  margin: 0.5em 0;
  font-weight: bold;
}

.resume-container .section-info__desc {
  flex: 1;
}

.resume-container .section-info__desc__title {
  display: flex;
  margin: 0.5em 0;
}

.resume-container .section-info__desc__title h3 {
  color: #186faf;
}

.resume-container .section-info__desc__title .company {
  display: flex;
  flex: 1;
}

.resume-container .section-info__desc__title .designation {
  justify-content: flex-end;
  font-weight: 200;
}

.resume-container .section-info__desc__content ul {
  list-style: square;
  margin-left: 2em;
  margin-bottom: 0.8em;
}

.print-button {
  border: 1px solid #6299ff2f;
  background-color: #f7f7f7;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 00;
  cursor: pointer;
  padding: 5px 14px;
}

@media (max-width: 400px) {
  .resume-container .section-info {
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .section-info__desc__title {
    flex-direction: column;
  }
  .designation {
    font-size: 1em;
    font-weight: bold;
  }
  .resume-container .resume-header .information .header-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .resume-container .resume-header .information .header-items {
    width: 100%;
    font-size: 0.8em;
  }
  .resume-header {
    margin-bottom: 16px;
  }
}

@media print {
  * {
    font-family: "Crimson Text";
    font-size: 14px;
  }

  .print-button {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Crimson Text";
    margin-bottom: 0;
    color: #186faf;
  }

  footer,
  .content.resume-container {
    margin-top: -15px;
  }

  .resume-container .section ul.section__no-style-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .resume-container .section ul.section__no-style-list li {
    margin-bottom: 0.5em;
  }

  .resume-container .section ul li {
    line-height: 1em;
    margin-bottom: 0.5em;
  }

  .resume-container .section-info:last-child {
    border-bottom: none;
  }

  .resume-container .section-info__time {
    width: 6em;
    margin: 0;
  }

  .section__title {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
  }

  .resume-container .resume-header .information {
    border-top: 4px solid #0a558c;
  }

  .resume-container .resume-header .information .header-title {
    align-items: flex-end;
    margin-top: 1.2em;
    margin-bottom: 0.8em;
  }

  .resume-container .resume-header .information .header-title h1 {
    font-size: 32px;
    margin-right: 4px;
  }

  .resume-container .resume-header .information .header-title h3 {
    font-size: 24px;
  }

  .resume-container .resume-header .info-item {
    font-size: 16px;
    line-height: 1.4em;
  }

  .resume-container .resume-header .info-item strong {
    font-size: 16px;
  }

  .resume-container .resume-header .info-item a {
    font-size: 16px;
  }

  .resume-container .section-info__desc__title h3 {
    font-size: 18px;
  }

  .resume-container .section__sub-title {
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 1em;
  }
}

$mediumGray: #888;
$black: #234;
$primary: #186faf;

.section-header {
  font-size: 1.5em;
  padding: 0.8em 0 0.5em 0;
  margin: 0;

  border-top: 2px solid $black;
  margin-top: 1em;
}

.sub-section {
  display: flex;
  flex-direction: column;
  border-bottom: 2px dotted $mediumGray;
  padding-bottom: 1em;
  margin-bottom: 0.5em;

  &--last-item {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.sub-section-title {
  display: flex;
  margin: 0.5em 0;
  justify-content: space-evenly;
  font-size: 1.1em;

  .duration {
    font-weight: bold;
    flex: 1;
  }

  .company {
    color: $primary;
    font-weight: bold;
    flex: 1;
    text-align: center;
  }

  .designation {
    color: $primary;
    font-weight: bold;
    flex: 1;
    text-align: right;
  }
}
