.fill {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    padding: 0;
}
.fill img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%
}


#profile-image {
    height: 300px;
}

#profile-blurb {
    background: #333333;
    color: white;
    font-family: 'Bitter', serif;
    height: 300px;
    padding: 40px 20px 20px 20px;
}

#profile-blurb h1 {
    padding: 0;
    padding-top: 10px;
    margin: 0;
    font-size: 48pt;
}

#profile-blurb p {
    padding: 0;
    margin: 0;
}

#blurb-content-text{
    padding: 20px!important;
}
/*END - Blurb CSS*/

#bottom-row{
    height: 100%;
    overflow: hidden;
}

#side-panel{
    background: #333;
    padding: 0;
    padding-bottom: 100%;
    margin-bottom: -100%;
    position: relative;
}

#social-icons{
    height: 65px;
    width: 100%;
    background: #333;
    font-weight: bold;
    color: white;
}

#social-icons ul{
    padding: 10px;
    margin: 0 auto;
    width: 80%;
}

#social-icons ul li {
    display: table-cell;
    width: 2%;
    text-align: center;

}

#social-icons ul li a{
    color: white;

}

#social-icons ul li a:hover {
    color: #e1e1e1;
    box-shadow: 0px -10px 30px #6a6a6a;
}

#download-cv{
    background: #333;
    font-size: 20pt;
    color: red;
    text-align: center;
}

#download-cv a{
    color: white;
}

#recent-blog-container{
    background: #e3e3e3;
    height: 100%;
}


/*Blog Post CSS*/
.blog-post-preview{
    height: 160px;
    background: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.blog-post-preview h4{
    font-family: 'Bitter', serif;
    margin: 5px;
    margin-bottom: 0;
}

.blog-post-preview span{
    font-size: 12px;
    margin-bottom: 0px;
}

.blog-post-preview .fill{
    width:100px;
}

.blog-post-preview img{
    height: 140px;
    width: 140px;

    display: inline;
    float: left;
    margin-right: 10px;

    object-fit: cover;
}

.blog-post-preview p{
    margin-top: 10px;
}
/*END Blog Post CSS*/

#view-all-posts{
    padding-top: 5px;
    font-size: 15px;
    height: 30px;
    background: #333;
    color: #fff;
}

#view-all-posts a{
    padding-top: 5px;
    font-size: 15px;
    height: 30px;
    background: #333;
    color: #fff;
}