nav {
    height: 80px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: grey;
    font-size: 15pt;
    font-family: 'Bitter', serif;
    font-weight: bold;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 16px auto;
    width: 500px;
}

nav li {
    display: inline;
    float: left;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav .active {
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
}

nav a {
    color: #e6e6e6;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

nav li a {
    border-right: 1px dotted #c3c3c3;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #e5e5e5;

    text-decoration: none;

}

nav a#pull {
    display: none;
}

@media screen and (max-width: 768px) {
    nav {
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    nav li a {
        border-bottom: 1px solid #576979;
        border-right: 1px solid #576979;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
    body{
        background: pink;
    }
}

@media only screen and (max-width : 480px) {
    nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid #576979;
    }
}