@import 'palette';

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    float: left;

    a {
        text-decoration: none;
        color: $black;
    }

    li {
        font-family: 'Oswald', sans-serif;
        font-size: 1.2em;
        line-height: 40px;
        height: 40px;
        width: 5em;
        float:left;
        margin-right: .5em;
    }

    &.internal-links {
        li {
            border: 1px rgba(16, 16, 16, 0.151) dotted;
        
            &:hover {
                border: 1px rgba(16, 16, 16, 0.25) dotted;
                box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
                background-color: rgb(184, 184, 184);
                cursor: pointer;
            }

            &.active {
                background-color: #c7c7c7;
            }
        }
    }

    &.external-links {
        margin-top: .5em;
        margin-bottom: .5em;

        li {
            border: none;
            font-size: 1em;
            width: auto;

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

header {
    h1 {
        padding-top: 1em;
    }
}

.home-page {
    img {
        height: 14em;
    }
}