

.portofolio-container {
    &__header {
        padding: 2.5em 5em 1em;
        background: #2d2d2d;
        color: #fff;

        h2 {
            opacity: .5;
            font-style: italic;
            font-weight: 200;
            font-size: 1em;
        }
    }
}

.portofolio {
    &-row {
        display: flex;
    
        &__item {
            flex: 1;
            height: 20em;
            margin: 1em;
            padding: 1em;
            overflow: hidden;
            color: white;

            background: #2d2d2d;
            display: flex;
            flex-direction: column;
        
            img {
                max-width: 80%;
                margin: .8em auto;
                max-height: 12em;
            }


        }
    }
}