$primary-color-dark:   #C5D4DB;
$primary-color:        #2d2d2d;
$primary-color-light:  #eaeaea;
$primary-color-text:   #FFFFFF;
$accent-color:         #797979;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$black: #000;
$white: #fff;