<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.meta}}">
    <meta name="author" content="Nipuna Gunathilake">

    <title>{% if page.title %}{{page.title}} · {% endif %}Nipuna Gunathilake - nipuna777 {% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>

    <!--FontAwesome stylesheet-->
    <link rel="stylesheet" href="{{site.baseurl}}">

    <!-- Custom CSS -->
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">

    <!-- Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
</head>

<body>

<!-- Page Content -->
{{content}}
<!-- /.container -->

<!-- jQuery Version -1.11.3 -->
<script src="{{site.baseurl}}/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
<script src="{{site.baseurl}}/js/custom.js"></script>
</body>

</html>
